.vidLiked {
    scroll-snap-type: y mandatory;
}
.app {
    height: 100vh;
    background-color: rgb(23, 9, 26);
    display: grid;
    place-items: center;
}
.app_video {
    position: relative;
    height: 90%;
    overflow: scroll;
    width: 98%;
    border-radius: 20px;
    scroll-snap-type: y mandatory;
}
.app_video::-webkit-scrollbar {
    display: none;
}
.app_video {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}